:root{
    --color_facebook:#0051ff;
    --color_twitter:#00d5ff;
    --color_instagram:#e95950;
    --color_pinteres:#948e8e;
    --background-color:rgb(15, 17,27);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
}
.title_grafico{
    margin-top: 100px;
    text-align: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container_grafico{
    width: 80%;
    max-width: 600px;
    height: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.container_leyenda{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin :  1px 0;
}

.container_leyenda2{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin :  1px 0;
}

.container_leyenda3{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin :  1px 0;
}


.grafico{
    width: 100%;
    height: 350px;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    background-image: conic-gradient(var(--color_facebook) 40%,
    var(--color_twitter) 40% 70%,
    var(--color_instagram) 40% 88%,
    var(--color_pinteres) 88%);
    box-shadow: ipx 1px 5px 1px rgb(80 80 80);
    margin :  20px 0;
}
.leyenda_all{
    color: black;
    align-items: center;
    margin: 5px 10px;
}
.leyenda_all1{
    color: black;
    align-items: center;
    margin: 5px 10px;
}
[class^="color_"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50px;
}
.color_facebook{
    background-color: var(--color_facebook);
}

.color_twitter{
    background-color: var(--color_twitter);
}
.color_instagram{
    background-color: var(--color_instagram);
}
.color_pinterest{
    background-color: var(--color_pinteres);
}
.social{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
}
.total{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(30 50 70);
    text-align: center;
}

@media (min-width: 769px){
    

    .grafico{
        width: 50%;
        padding-bottom: 50%;
    }
}